@model xianMvcDemo.Models.RegisterViewModel
@{
    ViewBag.Title = "註冊";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>註冊</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <style type="text/css">
        body {
            padding-top: 100px;
            padding-bottom: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span4 offset4 well">
                <legend>註冊</legend>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-error">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                        @Html.ValidationSummary()
                    </div>
                }

                @using (Html.BeginForm("Register", "Member", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.TextBoxFor(x => x.Account, new { @class = "span4", placeholder = "帳號", AutoComplete = "Off", tabindex = "1" })
                    @Html.PasswordFor(x => x.Password, new { @class = "span4", placeholder = "密碼", AutoComplete = "Off", tabindex = "2" })
                    
                    <div style="padding-top: 10px;">
                        <button type="submit" name="submit" class="btn btn-primary">註冊</button>
                        <button type="button" name="reset" class="btn">清除</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-2.0.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#Account').focus();
            $('button[name=reset]').click(function () {
                $('#Account').val('');
                $('#Password').val('');
                $('#Remember').prop('checked', '');
                if ($('.alert>a.close').length > 0) {
                    $('.alert>a.close').trigger('click');
                }
            });
        });
    </script>
</body>
</html>
